interactions:
- request:
    body: '{"location": "canadaeast"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Batch/batchAccounts/clibatch000002?api-version=2020-05-01
  response:
    body:
      string: ''
    headers:
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Batch/batchAccounts/clibatch000002/operationResults/4482e904-9c24-4444-bad7-3fdff9789261?api-version=2020-05-01
      x-ms-ratelimit-remaining-subscription-writes:
      - '1198'
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Batch/batchAccounts/clibatch000002/operationResults/4482e904-9c24-4444-bad7-3fdff9789261?api-version=2020-05-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Batch/batchAccounts/clibatch000002","name":"clibatch000002","type":"Microsoft.Batch/batchAccounts","location":"canadaeast","properties":{"accountEndpoint":"clibatch000002.canadaeast.batch.azure.com","provisioningState":"Succeeded","dedicatedCoreQuota":700,"dedicatedCoreQuotaPerVMFamily":[{"name":"standardAv2Family","coreQuota":100},{"name":"standardDv2Family","coreQuota":100},{"name":"standardDv3Family","coreQuota":100},{"name":"standardEv3Family","coreQuota":50},{"name":"standardDSv2Family","coreQuota":100},{"name":"standardDSv3Family","coreQuota":100},{"name":"standardESv3Family","coreQuota":50},{"name":"standardFFamily","coreQuota":50},{"name":"standardFSFamily","coreQuota":50},{"name":"standardA0_A7Family","coreQuota":0},{"name":"standardA8_A11Family","coreQuota":0},{"name":"standardDFamily","coreQuota":0},{"name"[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Batch/batchAccounts/clibatch000002/listKeys?api-version=2020-05-01
  response:
    body:
      string: '{"accountName":"clibatch000002","primary":"iv2ncpsAJjc25zJSwA9B3nR8a0Ue0Zz8zVdMvIkXApegPPVLa5EyLzLTH5ZGCiP4fFiHMsxXGCAmB1fdqyuDQQ==","secondary":"QuFY0Bi65T1XaK1YoxsMFJ3qOPn9RhEF0a9f6pxyymJn2J10lT+DaIqRzQd9TA1nYufJIt1ZzjhDD7cdyNcLWw=="}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"id": "xplatJobForTaskTests", "vmSize": "small", "cloudServiceConfiguration":
      {"osFamily": "4"}}'
    headers:
      Content-Type:
      - application/json; odata=minimalmetadata; charset=utf-8
      return-client-request-id:
      - 'false'
    method: POST
    uri: https://clibatch000002.canadaeast.batch.azure.com/pools?api-version=2020-03-01.11.0&timeout=30
  response:
    body:
      string: ''
    headers:
      dataserviceid:
      - https://clibatch7u2uurhfmk333ght.canadaeast.batch.azure.com/pools/xplatJobForTaskTests
      dataserviceversion:
      - '3.0'
      etag:
      - '0x8D890A3C049C818'
      last-modified:
      - Tue, 24 Nov 2020 18:07:05 GMT
      location:
      - https://clibatch000002.canadaeast.batch.azure.com/pools/xplatJobForTaskTests
    status:
      code: 201
      message: Created
- request:
    body: '{"id": "cli-test-job-1", "constraints": {"maxTaskRetryCount": 5}, "jobManagerTask":
      {"id": "JobManager", "commandLine": "cmd /c set AZ_BATCH_TASK_ID", "environmentSettings":
      [{"name": "CLI_TEST_VAR", "value": "CLI_TEST_VAR_VALUE"}]}, "poolInfo": {"poolId":
      "xplatJobForTaskTests"}, "metadata": [{"name": "test", "value": "value"}]}'
    headers:
      Content-Type:
      - application/json; odata=minimalmetadata; charset=utf-8
      return-client-request-id:
      - 'false'
    method: POST
    uri: https://clibatch000002.canadaeast.batch.azure.com/jobs?api-version=2020-03-01.11.0&timeout=30
  response:
    body:
      string: ''
    headers:
      dataserviceid:
      - https://clibatch7u2uurhfmk333ght.canadaeast.batch.azure.com/jobs/job-1
      dataserviceversion:
      - '3.0'
      etag:
      - '0x8D890A3C0EB52B8'
      last-modified:
      - Tue, 24 Nov 2020 18:07:06 GMT
      location:
      - https://clibatch000002.canadaeast.batch.azure.com/jobs/job-1
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      return-client-request-id:
      - 'false'
    method: GET
    uri: https://clibatch000002.canadaeast.batch.azure.com/jobs/cli-test-job-1?api-version=2020-03-01.11.0&timeout=30
  response:
    body:
      string: "{\r\n  \"odata.metadata\":\"https://clibatch000002.canadaeast.batch.azure.com/$metadata#jobs/@Element\",\"id\":\"cli-test-job-1\",\"url\":\"https://clibatch000002.canadaeast.batch.azure.com/jobs/cli-test-job-1\",\"eTag\":\"0x8D890A3C0EB52B8\",\"lastModified\":\"2020-11-24T18:07:06.3641784Z\",\"creationTime\":\"2020-11-24T18:07:06.2891281Z\",\"state\":\"active\",\"stateTransitionTime\":\"2020-11-24T18:07:06.3641784Z\",\"priority\":0,\"usesTaskDependencies\":false,\"constraints\":{\r\n
        \   \"maxWallClockTime\":\"P10675199DT2H48M5.4775807S\",\"maxTaskRetryCount\":5\r\n
        \ },\"jobManagerTask\":{\r\n    \"id\":\"JobManager\",\"commandLine\":\"cmd
        /c set AZ_BATCH_TASK_ID\",\"environmentSettings\":[\r\n      {\r\n        \"name\":\"CLI_TEST_VAR\",\"value\":\"CLI_TEST_VAR_VALUE\"\r\n
        \     }\r\n    ],\"constraints\":{\r\n      \"maxWallClockTime\":\"P10675199DT2H48M5.4775807S\",\"retentionTime\":\"P7D\",\"maxTaskRetryCount\":5\r\n
        \   },\"userIdentity\":{\r\n      \"autoUser\":{\r\n        \"scope\":\"pool\",\"elevationLevel\":\"nonadmin\"\r\n
        \     }\r\n    },\"runExclusive\":true,\"allowLowPriorityNode\":true,\"killJobOnCompletion\":true\r\n
        \ },\"poolInfo\":{\r\n    \"poolId\":\"xplatJobForTaskTests\"\r\n  },\"metadata\":[\r\n
        \   {\r\n      \"name\":\"test\",\"value\":\"value\"\r\n    }\r\n  ],\"executionInfo\":{\r\n
        \   \"startTime\":\"2020-11-24T18:07:06.3641784Z\",\"poolId\":\"xplatJobForTaskTests\"\r\n
        \ },\"onAllTasksComplete\":\"noaction\",\"onTaskFailure\":\"noaction\"\r\n}"
    headers:
      content-type:
      - application/json;odata=minimalmetadata
      dataserviceversion:
      - '3.0'
      etag:
      - '0x8D890A3C0EB52B8'
      last-modified:
      - Tue, 24 Nov 2020 18:07:06 GMT
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"poolInfo": {"poolId": "xplatJobForTaskTests"}, "onAllTasksComplete":
      "terminatejob"}'
    headers:
      Content-Type:
      - application/json; odata=minimalmetadata; charset=utf-8
      If-Unmodified-Since:
      - Tue, 24 Nov 2020 13:07:05 GMT
      return-client-request-id:
      - 'false'
    method: PUT
    uri: https://clibatch000002.canadaeast.batch.azure.com/jobs/cli-test-job-1?api-version=2020-03-01.11.0&timeout=30
  response:
    body:
      string: "{\r\n  \"odata.metadata\":\"https://clibatch000002.canadaeast.batch.azure.com/$metadata#Microsoft.Azure.Batch.Protocol.Entities.Container.errors/@Element\",\"code\":\"ConditionNotMet\",\"message\":{\r\n
        \   \"lang\":\"en-US\",\"value\":\"The condition specified using HTTP conditional
        header(s) is not met.\\nRequestId:bd99458c-1489-4d6f-a116-7080aa29f97c\\nTime:2020-11-24T18:07:09.8426304Z\"\r\n
        \ }\r\n}"
    headers:
      content-type:
      - application/json;odata=minimalmetadata
      dataserviceversion:
      - '3.0'
    status:
      code: 412
      message: The condition specified using HTTP conditional header(s) is not met.
[...]
