interactions:
- request:
    body: '{"sku": {"name": "Standard_LRS"}, "kind": "StorageV2", "location": "ukwest",
      "properties": {"encryption": {"services": {"blob": {}}, "keySource": "Microsoft.Storage"}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/clibatchteststorage7?api-version=2019-06-01
  response:
    body:
      string: ''
    headers:
      content-type:
      - text/plain; charset=utf-8
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Storage/locations/ukwest/asyncoperations/e85b40b2-a3c5-4816-8702-dc35264bb700?monitor=true&api-version=2019-06-01
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Storage/locations/ukwest/asyncoperations/e85b40b2-a3c5-4816-8702-dc35264bb700?monitor=true&api-version=2019-06-01
  response:
    body:
      string: ''
    headers:
      content-type:
      - text/plain; charset=utf-8
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Storage/locations/ukwest/asyncoperations/e85b40b2-a3c5-4816-8702-dc35264bb700?monitor=true&api-version=2019-06-01
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Storage/locations/ukwest/asyncoperations/e85b40b2-a3c5-4816-8702-dc35264bb700?monitor=true&api-version=2019-06-01
  response:
    body:
      string: '{"sku":{"name":"Standard_LRS","tier":"Standard"},"kind":"StorageV2","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/clibatchteststorage7","name":"clibatchteststorage7","type":"Microsoft.Storage/storageAccounts","location":"ukwest","tags":{},"properties":{"privateEndpointConnections":[],"networkAcls":{"bypass":"AzureServices","virtualNetworkRules":[],"ipRules":[],"defaultAction":"Allow"},"supportsHttpsTrafficOnly":true,"encryption":{"services":{"file":{"keyType":"Account","enabled":true,"lastEnabledTime":"2020-11-24T18:50:44.9411826Z"},"blob":{"keyType":"Account","enabled":true,"lastEnabledTime":"2020-11-24T18:50:44.9411826Z"}},"keySource":"Microsoft.Storage"},"accessTier":"Hot","provisioningState":"Succeeded","creationTime":"2020-11-24T18:50:44.8786348Z","primaryEndpoints":{"dfs":"https://clibatchteststorage7.dfs.core.windows.net/","web":"https://clibatchteststorage7.z35.web.core.windows.net/","blob":"https://clibatchteststorage7.blob.core.windows.net/","queue":"https://clibatchteststorage7.queue.core.windows.net/","table":"https://clibatchteststorage7.table.core.windows.net/","file":"https://clibatchteststorage7.file.core.windows.net/"},"primaryLocation":"ukwest","statusOfPrimary":"available"}}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"location": "ukwest", "properties": {"autoStorage": {"storageAccountId":
      "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/clibatchteststorage7"}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Batch/batchAccounts/clibatchtest7?api-version=2020-05-01
  response:
    body:
      string: ''
    headers:
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Batch/batchAccounts/clibatchtest7/operationResults/329f437b-6aac-4357-b84b-6de717fdf272?api-version=2020-05-01
      x-ms-ratelimit-remaining-subscription-writes:
      - '1197'
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Batch/batchAccounts/clibatchtest7/operationResults/329f437b-6aac-4357-b84b-6de717fdf272?api-version=2020-05-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Batch/batchAccounts/clibatchtest7","name":"clibatchtest7","type":"Microsoft.Batch/batchAccounts","location":"ukwest","properties":{"accountEndpoint":"clibatchtest7.ukwest.batch.azure.com","provisioningState":"Succeeded","dedicatedCoreQuota":700,"dedicatedCoreQuotaPerVMFamily":[{"name":"standardAv2Family","coreQuota":100},{"name":"standardDv2Family","coreQuota":100},{"name":"standardDv3Family","coreQuota":100},{"name":"standardEv3Family","coreQuota":50},{"name":"standardDSv2Family","coreQuota":100},{"name":"standardDSv3Family","coreQuota":100},{"name":"standardESv3Family","coreQuota":50},{"name":"standardFFamily","coreQuota":50},{"name":"standardFSFamily","coreQuota":50},{"name":"standardA0_A7Family","coreQuota":0},{"name":"standardA8_A11Family","coreQuota":0},{"name":"standardDFamily","coreQuota":0},{"name"[...]
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Batch/batchAccounts/clibatchtest7/applications/testapp?api-version=2020-05-01
  response:
    body:
      string: '{"type":"Microsoft.Batch/batchAccounts/applications","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Batch/batchAccounts/clibatchtest7/applications/testapp","name":"testapp","etag":"W/\"0x8D890A9F569F01C\"","properties":{"allowUpdates":true}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"0x8D890A9F569F01C"
      last-modified:
      - Tue, 24 Nov 2020 18:51:31 GMT
      x-ms-ratelimit-remaining-subscription-writes:
      - '1197'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Batch/batchAccounts/clibatchtest7/applications?api-version=2020-05-01
  response:
    body:
      string: '{"value":[{"type":"Microsoft.Batch/batchAccounts/applications","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Batch/batchAccounts/clibatchtest7/applications/testapp","name":"testapp","etag":"W/\"0x8D890A9F569F01C\"","properties":{"allowUpdates":true}}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Batch/batchAccounts/clibatchtest7/applications/testapp/versions/1.0?api-version=2020-05-01
  response:
    body:
      string: '{"type":"Microsoft.Batch/batchAccounts/applications/versions","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Batch/batchAccounts/clibatchtest7/applications/testapp/versions/1.0","name":"1.0","etag":"W/\"0x8D890A9F7339107\"","properties":{"storageUrl":"https://clibatchteststorage7.blob.core.windows.net/app-testapp-1ef76f66bc214252a9b0a5a72ad95abe/1.0?sv=2018-03-28&sr=b&sig=7N76cFofZvXZ9KrUZvg6VaJAdARoPeTh9j3xDJzHYa0%3D&st=2020-11-24T18%3A46%3A34Z&se=2020-11-24T22%3A51%3A34Z&sp=rw","storageUrlExpiry":"2020-11-24T22:51:34.4202177Z","state":"Pending"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"0x8D890A9F7339107"
      last-modified:
      - Tue, 24 Nov 2020 18:51:34 GMT
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
- request:
    body: storage blob test sample file
    headers:
      x-ms-blob-type:
      - BlockBlob
      x-ms-date:
      - Tue, 24 Nov 2020 18:51:34 GMT
      x-ms-version:
      - '2018-11-09'
    method: PUT
    uri: https://clibatchteststorage7.blob.core.windows.net/app-testapp-1ef76f66bc214252a9b0a5a72ad95abe/1.0?sv=2018-03-28&sr=b&sig=7N76cFofZvXZ9KrUZvg6VaJAdARoPeTh9j3xDJzHYa0%3D&st=2020-11-24T18%3A46%3A34Z&se=2020-11-24T22%3A51%3A34Z&sp=rw
  response:
    body:
      string: ''
    headers:
      content-md5:
      - JeBon6PeparxrbCKMR+6hw==
      etag:
      - '"0x8D890A9F776F329"'
      last-modified:
      - Tue, 24 Nov 2020 18:51:34 GMT
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2018-11-09'
    status:
      code: 201
      message: Created
- request:
    body: '{"format": "zip"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Batch/batchAccounts/clibatchtest7/applications/testapp/versions/1.0/activate?api-version=2020-05-01
  response:
    body:
      string: '{"type":"Microsoft.Batch/batchAccounts/applications/versions","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Batch/batchAccounts/clibatchtest7/applications/testapp/versions/1.0","name":"1.0","etag":"W/\"0x8D890A9F799DF64\"","properties":{"storageUrl":"https://clibatchteststorage7.blob.core.windows.net/app-testapp-1ef76f66bc214252a9b0a5a72ad95abe/1.0?sv=2018-03-28&sr=b&sig=v7k%2BmOh7Qv5jpVFxR3fPcPhBTOGHj1ytI3uCUlMSTvc%3D&st=2020-11-24T18%3A46%3A35Z&se=2020-11-24T22%3A51%3A35Z&sp=rw","storageUrlExpiry":"2020-11-24T22:51:35.1079198Z","state":"Active","format":"zip","lastActivationTime":"2020-11-24T18:51:35.0707253Z"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"0x8D890A9F799DF64"
      last-modified:
      - Tue, 24 Nov 2020 18:51:35 GMT
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"properties": {"defaultVersion": "1.0"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PATCH
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Batch/batchAccounts/clibatchtest7/applications/testapp?api-version=2020-05-01
  response:
    body:
      string: '{"type":"Microsoft.Batch/batchAccounts/applications","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Batch/batchAccounts/clibatchtest7/applications/testapp","name":"testapp","etag":"W/\"0x8D890A9F9D31F47\"","properties":{"allowUpdates":true,"defaultVersion":"1.0"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"0x8D890A9F9D31F47"
      last-modified:
      - Tue, 24 Nov 2020 18:51:38 GMT
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/clibatchteststorage7?api-version=2019-06-01
  response:
    body:
      string: ''
    headers:
      content-type:
      - text/plain; charset=utf-8
      x-ms-ratelimit-remaining-subscription-deletes:
      - '14999'
    status:
      code: 200
      message: OK
version: 1
