interactions:
- request:
    body: '{"location": "westus"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Batch/batchAccounts/clibatch000002?api-version=2020-05-01
  response:
    body:
      string: ''
    headers:
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Batch/batchAccounts/clibatch000002/operationResults/74b750ca-c1dd-4b22-87d8-d994a3d09a1d?api-version=2020-05-01
      x-ms-ratelimit-remaining-subscription-writes:
      - '1197'
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Batch/batchAccounts/clibatch000002/operationResults/74b750ca-c1dd-4b22-87d8-d994a3d09a1d?api-version=2020-05-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Batch/batchAccounts/clibatch000002","name":"clibatch000002","type":"Microsoft.Batch/batchAccounts","location":"westus","properties":{"accountEndpoint":"clibatch000002.westus.batch.azure.com","provisioningState":"Succeeded","dedicatedCoreQuota":700,"dedicatedCoreQuotaPerVMFamily":[{"name":"standardAv2Family","coreQuota":100},{"name":"standardDv2Family","coreQuota":100},{"name":"standardDv3Family","coreQuota":100},{"name":"standardEv3Family","coreQuota":50},{"name":"standardDSv2Family","coreQuota":100},{"name":"standardDSv3Family","coreQuota":100},{"name":"standardESv3Family","coreQuota":50},{"name":"standardFFamily","coreQuota":50},{"name":"standardFSFamily","coreQuota":50},{"name":"standardA0_A7Family","coreQuota":0},{"name":"standardA8_A11Family","coreQuota":0},{"name":"standardDFamily","coreQuota":0},{"name"[...]
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Batch/batchAccounts/clibatch000002/listKeys?api-version=2020-05-01
  response:
    body:
      string: '{"accountName":"clibatch000002","primary":"/58o8lfkRgT1itr9RJ9c9qi69hlW+pMAJS8MI0bf/50KHBGN9ND8hJ7XmKSjRHy6wuewcS5zvWghT+seAJIVDg==","secondary":"MEiXMjKeBWtrWB68RoKqkHwbF/W/NfGAv1rXZHr0IWib87Z5XPliMBNxz1PDaLdNZc4YsO2xtfk7G9h7wsVk+A=="}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1198'
    status:
      code: 200
      message: OK
- request:
    body: '{"id": "xplatCreatedPool", "vmSize": "small", "cloudServiceConfiguration":
      {"osFamily": "4"}, "targetDedicatedNodes": 0, "startTask": {"commandLine": "cmd
      /c echo test", "userIdentity": {"autoUser": {"scope": "task", "elevationLevel":
      "admin"}}, "waitForSuccess": true}}'
    headers:
      Content-Type:
      - application/json; odata=minimalmetadata; charset=utf-8
      ocp-date:
      - Tue, 24 Nov 2020 18:44:20 GMT
      return-client-request-id:
      - 'false'
    method: POST
    uri: https://clibatch000002.westus.batch.azure.com/pools?api-version=2020-03-01.11.0&timeout=30
  response:
    body:
      string: ''
    headers:
      dataserviceid:
      - https://clibatchybr5dxouqgpxzzjx.westus.batch.azure.com/pools/xplatCreatedPool
      dataserviceversion:
      - '3.0'
      etag:
      - '0x8D890A8F4E6390D'
      last-modified:
      - Tue, 24 Nov 2020 18:44:21 GMT
      location:
      - https://clibatch000002.westus.batch.azure.com/pools/xplatCreatedPool
    status:
      code: 201
      message: Created
- request:
    body: '{"id": "pool_image1", "vmSize": "Standard_A1", "virtualMachineConfiguration":
      {"imageReference": {"publisher": "a", "offer": "b", "sku": "c"}, "nodeAgentSKUId":
      "batch.node.windows amd64"}}'
    headers:
      Content-Type:
      - application/json; odata=minimalmetadata; charset=utf-8
      ocp-date:
      - Tue, 24 Nov 2020 18:44:21 GMT
      return-client-request-id:
      - 'false'
    method: POST
    uri: https://clibatch000002.westus.batch.azure.com/pools?api-version=2020-03-01.11.0&timeout=30
  response:
    body:
      string: "{\r\n  \"odata.metadata\":\"https://clibatch000002.westus.batch.azure.com/$metadata#Microsoft.Azure.Batch.Protocol.Entities.Container.errors/@Element\",\"code\":\"InvalidPropertyValue\",\"message\":{\r\n
        \   \"lang\":\"en-US\",\"value\":\"The value provided for one of the properties
        in the request body is invalid.\\nRequestId:33311bb1-753c-4f5d-a938-16122a114dc0\\nTime:2020-11-24T18:44:21.4762803Z\"\r\n
        \ },\"values\":[\r\n    {\r\n      \"key\":\"PropertyName\",\"value\":\"imageReference\"\r\n
        \   },{\r\n      \"key\":\"Reason\",\"value\":\"The specified imageReference
        with publisher a offer b sku c is not supported.\"\r\n    }\r\n  ]\r\n}"
    headers:
      content-type:
      - application/json;odata=minimalmetadata
      dataserviceversion:
      - '3.0'
    status:
      code: 400
      message: The value provided for one of the properties in the request body is
        invalid.
- request:
    body: '{"id": "pool_image1", "vmSize": "Standard_A1", "virtualMachineConfiguration":
      {"imageReference": {"virtualMachineImageId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_rg/providers/Microsoft.Compute/images/custom_image"},
      "nodeAgentSKUId": "batch.node.windows amd64"}}'
    headers:
      Content-Type:
      - application/json; odata=minimalmetadata; charset=utf-8
      ocp-date:
      - Tue, 24 Nov 2020 18:44:21 GMT
      return-client-request-id:
      - 'false'
    method: POST
    uri: https://clibatch000002.westus.batch.azure.com/pools?api-version=2020-03-01.11.0&timeout=30
  r[...]
- request:
    body: '{"id": "pool_image1", "vmSize": "Standard_A1", "virtualMachineConfiguration":
      {"imageReference": {"publisher": "canonical", "offer": "ubuntuserver", "sku":
      "18.04-lts"}, "nodeAgentSKUId": "batch.node.ubuntu 18.04", "diskEncryptionConfiguration":
      {"targets": ["temporarydisk"]}}}'
    headers:
      Content-Type:
      - application/json; odata=minimalmetadata; charset=utf-8
      ocp-date:
      - Tue, 24 Nov 2020 18:44:21 GMT
      return-client-request-id:
      - 'false'
    method: POST
    uri: https://clibatch000002.westus.batch.azure.com/pools?api-version=2020-03-01.11.0&timeout=30
  response:
    body:
      string: ''
    headers:
      dataserviceid:
      - https://clibatchybr5dxouqgpxzzjx.westus.batch.azure.com/pools/pool_image1
      dataserviceversion:
      - '3.0'
      etag:
      - '0x8D890A8F5C022F1'
      last-modified:
      - Tue, 24 Nov 2020 18:44:22 GMT
      location:
      - https://clibatch000002.westus.batch.azure.com/pools/pool_image1
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      ocp-date:
      - Tue, 24 Nov 2020 18:44:22 GMT
      return-client-request-id:
      - 'false'
    method: GET
    uri: https://clibatch000002.westus.batch.azure.com/pools/xplatCreatedPool?api-version=2020-03-01.11.0&timeout=30
  response:
    body:
      string: "{\r\n  \"odata.metadata\":\"https://clibatch000002.westus.batch.azure.com/$metadata#pools/@Element\",\"id\":\"xplatCreatedPool\",\"url\":\"https://clibatch000002.westus.batch.azure.com/pools/xplatCreatedPool\",\"eTag\":\"0x8D890A8F4E6390D\",\"lastModified\":\"2020-11-24T18:44:21.0559245Z\",\"creationTime\":\"2020-11-24T18:44:21.0559245Z\",\"state\":\"active\",\"stateTransitionTime\":\"2020-11-24T18:44:21.0559245Z\",\"allocationState\":\"steady\",\"allocationStateTransitionTime\":\"2020-11-24T18:44:22.7730671Z\",\"vmSize\":\"small\",\"resizeTimeout\":\"PT15M\",\"currentDedicatedNodes\":0,\"targetDedicatedNodes\":0,\"currentLowPriorityNodes\":0,\"targetLowPriorityNodes\":0,\"enableAutoScale\":false,\"enableInterNodeCommunication\":false,\"startTask\":{\r\n
        \   \"commandLine\":\"cmd /c echo test\",\"userIdentity\":{\r\n      \"autoUser\":{\r\n
        \       \"scope\":\"task\",\"elevationLevel\":\"admin\"\r\n      }\r\n    },\"maxTaskRetryCount\":0,\"waitForSuccess\":true\r\n
        \ },\"maxTasksPerNode\":1,\"taskSchedulingPolicy\":{\r\n    \"nodeFillType\":\"Spread\"\r\n
        \ },\"cloudServiceConfiguration\":{\r\n    \"osFamily\":\"4\",\"osVersion\":\"*\"\r\n
        \ }\r\n}"
    headers:
      content-type:
      - application/json;odata=minimalmetadata
      dataserviceversion:
      - '3.0'
      etag:
      - '0x8D890A8F4E6390D'
      last-modified:
      - Tue, 24 Nov 2020 18:44:21 GMT
    status:
      code: 200
      message: OK
- request:
    body: '{"targetDedicatedNodes": 0, "targetLowPriorityNodes": 3}'
    headers:
      Content-Type:
      - application/json; odata=minimalmetadata; charset=utf-8
      ocp-date:
      - Tue, 24 Nov 2020 18:44:22 GMT
      return-client-request-id:
      - 'false'
    method: POST
    uri: https://clibatch000002.westus.batch.azure.com/pools/xplatCreatedPool/resize?api-version=2020-03-01.11.0&timeout=30
  response:
    body:
      string: ''
    headers:
      dataserviceid:
      - https://clibatchybr5dxouqgpxzzjx.westus.batch.azure.com/pools/xplatCreatedPool/resize
      dataserviceversion:
      - '3.0'
      etag:
      - '0x8D890A8F640042B'
      last-modified:
      - Tue, 24 Nov 2020 18:44:23 GMT
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: null
    headers:
      ocp-date:
      - Tue, 24 Nov 2020 18:44:23 GMT
      return-client-request-id:
      - 'false'
    method: GET
    uri: https://clibatch000002.westus.batch.azure.com/nodecounts?api-version=2020-03-01.11.0&maxresults=10&timeout=30
  response:
    body:
      string: "{\r\n  \"odata.metadata\":\"https://clibatch000002.westus.batch.azure.com/$metadata#poolnodecounts\",\"value\":[\r\n
        \   {\r\n      \"poolId\":\"pool_image1\",\"dedicated\":{\r\n        \"creating\":0,\"idle\":0,\"leavingPool\":0,\"offline\":0,\"preempted\":0,\"rebooting\":0,\"reimaging\":0,\"running\":0,\"starting\":0,\"startTaskFailed\":0,\"unusable\":0,\"unknown\":0,\"waitingForStartTask\":0,\"total\":0\r\n
        \     },\"lowPriority\":{\r\n        \"creating\":0,\"idle\":0,\"leavingPool\":0,\"offline\":0,\"preempted\":0,\"rebooting\":0,\"reimaging\":0,\"running\":0,\"starting\":0,\"startTaskFailed\":0,\"unusable\":0,\"unknown\":0,\"waitingForStartTask\":0,\"total\":0\r\n
        \     }\r\n    },{\r\n      \"poolId\":\"xplatCreatedPool\",\"dedicated\":{\r\n
        \       \"creating\":0,\"idle\":0,\"leavingPool\":0,\"offline\":0,\"preempted\":0,\"rebooting\":0,\"reimaging\":0,\"running\":0,\"starting\":0,\"startTaskFailed\":0,\"unusable\":0,\"unknown\":0,\"waitingForStartTask\":0,\"total\":0\r\n
        \     },\"lowPriority\":{\r\n        \"creating\":0,\"idle\":0,\"leavingPool\":0,\"offline\":0,\"preempted\":0,\"rebooting\":0,\"reimaging\":0,\"running\":0,\"starting\":0,\"startTaskFailed\":0,\"unusable\":0,\"unknown\":0,\"waitingForStartTask\":0,\"total\":0\r\n
        \     }\r\n    }\r\n  ]\r\n}"
    headers:
      content-type:
      - application/json;odata=minimalmetadata
      dataserviceversion:
      - '3.0'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      ocp-date:
      - Tue, 24 Nov 2020 18:44:24 GMT
      return-client-request-id:
      - 'false'
    method: POST
    uri: https://clibatch000002.westus.batch.azure.com/pools/xplatCreatedPool/stopresize?api-version=2020-03-01.11.0&timeout=30
  response:
    body:
      string: ''
    headers:
      dataserviceid:
      - https://clibatchybr5dxouqgpxzzjx.westus.batch.azure.com/pools/xplatCreatedPool/stopresize
      dataserviceversion:
      - '3.0'
      etag:
      - '0x8D890A8F640042B'
      last-modified:
      - Tue, 24 Nov 2020 18:44:23 GMT
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      ocp-date:
      - Tue, 24 Nov 2020 18:46:24 GMT
      return-client-request-id:
      - 'false'
    method: GET
    uri: https://clibatch000002.westus.batch.azure.com/pools/xplatCreatedPool?api-version=2020-03-01.11.0&timeout=30
  response:
    body:
      string: "{\r\n  \"odata.metadata\":\"https://clibatch000002.westus.batch.azure.com/$metadata#pools/@Element\",\"id\":\"xplatCreatedPool\",\"url\":\"https://clibatch000002.westus.batch.azure.com/pools/xplatCreatedPool\",\"eTag\":\"0x8D890A8F640042B\",\"lastModified\":\"2020-11-24T18:44:23.3221163Z\",\"creationTime\":\"2020-11-24T18:44:21.0559245Z\",\"state\":\"active\",\"stateTransitionTime\":\"2020-11-24T18:44:21.0559245Z\",\"allocationState\":\"steady\",\"allocationStateTransitionTime\":\"2020-11-24T18:44:28.6353081Z\",\"vmSize\":\"small\",\"resizeTimeout\":\"PT15M\",\"currentDedicatedNodes\":0,\"targetDedicatedNodes\":0,\"currentLowPriorityNodes\":0,\"targetLowPriorityNodes\":3,\"resizeErrors\":[\r\n
        \   {\r\n      \"code\":\"ResizeStopped\",\"message\":\"Desired number of
        low priority nodes could not be allocated due to a stop resize operation\"\r\n
        \   }\r\n  ],\"enableAutoScale\":false,\"enableInterNodeCommunication\":false,\"startTask\":{\r\n
        \   \"commandLine\":\"cmd /c echo test\",\"userIdentity\":{\r\n      \"autoUser\":{\r\n
        \       \"scope\":\"task\",\"elevationLevel\":\"admin\"\r\n      }\r\n    },\"maxTaskRetryCount\":0,\"waitForSuccess\":true\r\n
        \ },\"maxTasksPerNode\":1,\"taskSchedulingPolicy\":{\r\n    \"nodeFillType\":\"Spread\"\r\n
        \ },\"cloudServiceConfiguration\":{\r\n    \"osFamily\":\"4\",\"osVersion\":\"*\"\r\n
        \ }\r\n}"
    headers:
      content-type:
      - application/json;odata=minimalmetadata
      dataserviceversion:
      - '3.0'
      etag:
      - '0x8D890A8F640042B'
      last-modified:
      - Tue, 24 Nov 2020 18:44:23 GMT
    status:
      code: 200
      message: OK
- request:
    body: '{"startTask": {"commandLine": "cmd /c echo updated", "waitForSuccess":
      true}, "certificateReferences": [], "applicationPackageReferences": [], "metadata":
      []}'
    headers:
      Content-Type:
      - application/json; odata=minimalmetadata; charset=utf-8
      ocp-date:
      - Tue, 24 Nov 2020 18:46:25 GMT
    method: POST
    uri: https://clibatch000002.westus.batch.azure.com/pools/xplatCreatedPool/updateproperties?api-version=2020-03-01.11.0
  response:
    body:
      string: ''
    headers:
      dataserviceid:
      - https://clibatchybr5dxouqgpxzzjx.westus.batch.azure.com/pools/xplatCreatedPool/updateproperties
      dataserviceversion:
      - '3.0'
      etag:
      - '0x8D890A93F3ECD0F'
      last-modified:
      - Tue, 24 Nov 2020 18:46:25 GMT
    status:
      code: 204
      message: No Content
- request:
    body: null
    headers:
      ocp-date:
      - Tue, 24 Nov 2020 18:46:25 GMT
    method: GET
    uri: https://clibatch000002.westus.batch.azure.com/pools/xplatCreatedPool?api-version=2020-03-01.11.0
  response:
    body:
      string: "{\r\n  \"odata.metadata\":\"https://clibatch000002.westus.batch.azure.com/$metadata#pools/@Element\",\"id\":\"xplatCreatedPool\",\"url\":\"https://clibatch000002.westus.batch.azure.com/pools/xplatCreatedPool\",\"eTag\":\"0x8D890A93F3ECD0F\",\"lastM[...]
[...]
- request:
    body: null
    headers:
      ocp-date:
      - Tue, 24 Nov 2020 18:46:26 GMT
      return-client-request-id:
      - 'false'
    method: DELETE
    uri: https://clibatch000002.westus.batch.azure.com/pools/xplatCreatedPool?api-version=2020-03-01.11.0&timeout=30
  response:
    body:
      string: ''
    headers:
      dataserviceversion:
      - '3.0'
    status:
      code: 202
      message: Accepted
version: 1
