interactions:
- request:
    body: '{"location": "westus"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Batch/batchAccounts/clibatch000002?api-version=2020-05-01
  response:
    body:
      string: ''
    headers:
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Batch/batchAccounts/clibatch000002/operationResults/60cabe8a-0aaf-4bcf-8f74-c80d47e48d07?api-version=2020-05-01
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Batch/batchAccounts/clibatch000002/operationResults/60cabe8a-0aaf-4bcf-8f74-c80d47e48d07?api-version=2020-05-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Batch/batchAccounts/clibatch000002","name":"clibatch000002","type":"Microsoft.Batch/batchAccounts","location":"westus","properties":{"accountEndpoint":"clibatch000002.westus.batch.azure.com","provisioningState":"Succeeded","dedicatedCoreQuota":700,"dedicatedCoreQuotaPerVMFamily":[{"name":"standardAv2Family","coreQuota":100},{"name":"standardDv2Family","coreQuota":100},{"name":"standardDv3Family","coreQuota":100},{"name":"standardEv3Family","coreQuota":50},{"name":"standardDSv2Family","coreQuota":100},{"name":"standardDSv3Family","coreQuota":100},{"name":"standardESv3Family","coreQuota":50},{"name":"standardFFamily","coreQuota":50},{"name":"standardFSFamily","coreQuota":50},{"name":"standardA0_A7Family","coreQuota":0},{"name":"standardA8_A11Family","coreQuota":0},{"name":"standardDFamily","coreQuota":0},{"name"[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Batch/batchAccounts/clibatch000002/listKeys?api-version=2020-05-01
  response:
    body:
      string: '{"accountName":"clibatch000002","primary":"zbHt216lcTq1Yo/J9eg+o45XqBnaKIWpVbmn0/lVmXrmaBcTq+Qw4aVVL6EC81tEmBBd5BqK+SUTBPcJ5JEeaw==","secondary":"eKIicmp1CwX1j4RX1+LdfznRem3yNvtGn1yH0NrQwXb322Nh23ko5EsbNd+8JYQl1RKSPLq9OeVv/huYE9KQzg=="}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"id": "xplatJobScheduleJobTests", "displayName": "displayName", "schedule":
      {"recurrenceInterval": "P2D"}, "jobSpecification": {"priority": 1, "displayName":
      "jobSpecDisplayName", "constraints": {"maxWallClockTime": "P1D", "maxTaskRetryCount":
      5}, "jobManagerTask": {"id": "jobManager", "displayName": "jobManagerDisplay",
      "commandLine": "cmd /c dir /s", "resourceFiles": [{"httpUrl": "https://testacct.blob.core.windows.net/",
      "filePath": "filePath"}], "environmentSettings": [{"name": "name1", "value":
      "value1"}, {"name": "name2", "value": "value2"}], "constraints": {"maxWallClockTime":
      "PT1H"}, "killJobOnCompletion": false}, "jobPreparationTask": {"id": "jobPrep",
      "commandLine": "cmd /c dir /s", "resourceFiles": [{"httpUrl": "https://testacct.blob.core.windows.net/",
      "filePath": "jobPrepFilePath"}], "environmentSettings": [{"name": "jobPrepName1",
      "value": "jobPrepValue1"}, {"name": "jobPrepName2", "value": "jobPrepValue2"}],
      "constraints": {"maxTaskRetryCount": 2}}, "jobReleaseTask": {"id": "jobRelease",
      "commandLine": "cmd /c dir /s", "resourceFiles": [{"httpUrl": "https://testacct.blob.core.windows.net/",
      "filePath": "jobReleaseFilePath"}], "environmentSettings": [{"name": "jobReleaseName1",
      "value": "jobReleaseValue1"}, {"name": "jobReleaseName2", "value": "jobReleaseValue2"}]},
      "commonEnvironmentSettings": [{"name": "commonName1", "value": "commonValue1"},
      {"name": "commonName2", "value": "commonValue2"}], "poolInfo": {"autoPoolSpecification":
      {"autoPoolIdPrefix": "TestSpecPrefix", "poolLifetimeOption": "jobschedule",
      "keepAlive": false, "pool": {"vmSize": "small", "cloudServiceConfiguration":
      {"osFamily": "4"}, "startTask": {"commandLine": "cmd /c dir /s"}, "certificateReferences":
      [{"thumbprint": "0123456789ABCDEF", "thumbprintAlgorithm": "sha1", "storeLocation":
      "localmachine", "storeName": "certStore", "visibility": ["starttask"]}]}}},
      "metadata": [{"name": "specMeta1", "value": "specMetaValue1"}, {"name": "specMeta2",
      "value": "specMetaValue2"}]}, "metadata": [{"name": "meta2", "value": "value2"},
      {"name": "meta1", "value": "value1"}]}'
    headers:
      Content-Type:
      - application/json; odata=minimalmetadata; charset=utf-8
      ocp-date:
      - Tue, 24 Nov 2020 19:48:58 GMT
      return-client-request-id:
      - 'false'
    method: POST
    uri: https://clibatch000002.westus.batch.azure.com/jobschedules?api-version=2020-03-01.11.0&timeout=30
  response:
    body:
      string: ''
    headers:
      dataserviceid:
      - https://clibatchyx5o3rqajsicmguz.westus.batch.azure.com/jobschedules/xplatJobScheduleJobTests
      dataserviceversion:
      - '3.0'
      etag:
      - '0x8D890B1FC0CC4B4'
      last-modified:
      - Tue, 24 Nov 2020 19:48:58 GMT
      location:
      - https://clibatch000002.westus.batch.azure.com/jobschedules/xplatJobScheduleJobTests
    status:
      code: 201
      message: Created
- request:
    body: '{"id": "xplatJob", "displayName": "displayName", "priority": 1, "constraints":
      {"maxWallClockTime": "P1D", "maxTaskRetryCount": 5}, "jobManagerTask": {"id":
      "jobManager", "displayName": "jobManagerDisplay", "commandLine": "cmd /c dir
      /s", "resourceFiles": [{"httpUrl": "https://testacct.blob.core.windows.net/",
      "filePath": "filePath"}], "environmentSettings": [{"name": "name1", "value":
      "value1"}, {"name": "name2", "value": "value2"}], "constraints": {"maxWallClockTime":
      "PT1H"}, "killJobOnCompletion": false}, "jobPreparationTask": {"id": "jobPrep",
      "commandLine": "cmd /c dir /s", "resourceFiles": [{"httpUrl": "https://testacct.blob.core.windows.net/",
      "filePath": "jobPrepFilePath"}], "environmentSettings": [{"name": "jobPrepName1",
      "value": "jobPrepValue1"}, {"name": "jobPrepName2", "value": "jobPrepValue2"}],
      "constraints": {"maxTaskRetryCount": 2}}, "jobReleaseTask": {"id": "jobRelease",
      "commandLine": "cmd /c dir /s", "resourceFiles": [{"httpUrl": "https://testacct.blob.core.windows.net/",
      "filePath": "jobReleaseFilePath"}], "environmentSettings": [{"name": "jobReleaseName1",
      "value": "jobReleaseValue1"}, {"name": "jobReleaseName2", "value": "jobReleaseValue2"}]},
      "commonEnvironmentSettings": [{"name": "commonName1", "value": "commonValue1"},
      {"name": "commonName2", "value": "commonValue2"}], "poolInfo": {"poolId": "xplatTestPool"},
      "metadata": [{"name": "specMeta1", "value": "specMetaValue1"}, {"name": "specMeta2",
      "value": "specMetaValue2"}]}'
    headers:
      Content-Type:
      - application/json; odata=minimalmetadata; charset=utf-8
      ocp-date:
      - Tue, 24 Nov 2020 19:48:58 GMT
      return-client-request-id:
      - 'false'
    method: POST
    uri: https://clibatch000002.westus.batch.azure.com/jobs?api-version=2020-03-01.11.0&timeout=30
  response:
    body:
      string: ''
    headers:
      dataserviceid:
      - https://clibatchyx5o3rqajsicmguz.westus.batch.azure.com/jobs/job-1
      dataserviceversion:
      - '3.0'
      etag:
      - '0x8D890B1FC561A92'
      last-modified:
      - Tue, 24 Nov 2020 19:48:59 GMT
      location:
      - https://clibatch000002.westus.batch.azure.com/jobs/job-1
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      ocp-date:
      - Tue, 24 Nov 2020 19:48:59 GMT
      return-client-request-id:
      - 'false'
    method: GET
    uri: https://clibatch000002.westus.batch.azure.com/jobschedules/xplatJobScheduleJobTests/jobs?api-version=2020-03-01.11.0&maxresults=1000&timeout=30
  response:
    body:
      string: "{\r\n  \"odata.metadata\":\"https://clibatch000002.westus.batch.azure.com/$metadata#jobs\",\"value\":[\r\n
        \   {\r\n      \"id\":\"xplatJobScheduleJobTests:job-1\",\"displayName\":\"jobSpecDisplayName\",\"url\":\"https://clibatch000002.westus.batch.azure.com/jobs/xplatJobScheduleJobTests:job-1\",\"eTag\":\"0x8D890B1FC22BD55\",\"lastModified\":\"2020-11-24T19:48:58.6671445Z\",\"creationTime\":\"2020-11-24T19:48:58.5741351Z\",\"state\":\"completed\",\"stateTransitionTime\":\"2020-11-24T19:48:58.7639909Z\",\"previousState\":\"active\",\"previousStateTransitionTime\":\"2020-11-24T19:48:58.6671445Z\",\"priority\":1,\"usesTaskDependencies\":false,\"constraints\":{\r\n
        \       \"maxWallClockTime\":\"P1D\",\"maxTaskRetryCount\":5\r\n      },\"jobManagerTask\":{\r\n
        \       \"id\":\"jobManager\",\"displayName\":\"jobManagerDisplay\",\"commandLine\":\"cmd
        /c dir /s\",\"resourceFiles\":[\r\n          {\r\n            \"httpUrl\":\"https://testacct.blob.core.windows.net/\",\"filePath\":\"filePath\"\r\n
        \         }\r\n        ],\"environmentSettings\":[\r\n          {\r\n            \"name\":\"name1\",\"value\":\"value1\"\r\n
        \         },{\r\n            \"name\":\"name2\",\"value\":\"value2\"\r\n          }\r\n
        \       ],\"constraints\":{\r\n          \"maxWallClockTime\":\"PT1H\",\"retentionTime\":\"P7D\",\"maxTaskRetryCount\":5\r\n
        \       },\"userIdentity\":{\r\n          \"autoUser\":{\r\n            \"scope\":\"pool\",\"elevationLevel\":\"nonadmin\"\r\n
        \         }\r\n        },\"runExclusive\":true,\"allowLowPriorityNode\":true,\"killJobOnCompletion\":false\r\n
        \     },\"jobPreparationTask\":{\r\n        \"id\":\"jobPrep\",\"commandLine\":\"cmd
        /c dir /s\",\"resourceFiles\":[\r\n          {\r\n            \"httpUrl\":\"https://testacct.blob.core.windows.net/\",\"filePath\":\"jobPrepFilePath\"\r\n
        \         }\r\n        ],\"environmentSettings\":[\r\n          {\r\n            \"name\":\"jobPrepName1\",\"value\":\"jobPrepValue1\"\r\n
        \         },{\r\n            \"name\":\"jobPrepName2\",\"value\":\"jobPrepValue2\"\r\n
        \         }\r\n        ],\"constraints\":{\r\n          \"maxWallClockTime\":\"P10675199DT2H48M5.4775807S\",\"retentionTime\":\"P7D\",\"maxTaskRetryCount\":2\r\n
        \       },\"userIdentity\":{\r\n          \"autoUser\":{\r\n            \"scope\":\"pool\",\"elevationLevel\":\"nonadmin\"\r\n
        \         }\r\n        },\"waitForSuccess\":true,\"rerunOnNodeRebootAfterSuccess\":true\r\n
        \     },\"jobReleaseTask\":{\r\n        \"id\":\"jobRelease\",\"commandLine\":\"cmd
        /c dir /s\",\"resourceFiles\":[\r\n          {\r\n            \"httpUrl\":\"https://testacct.blob.core.windows.net/\",\"filePath\":\"jobReleaseFilePath\"\r\n
        \         }\r\n        ],\"environmentSettings\":[\r\n          {\r\n            \"name\":\"jobReleaseName1\",\"value\":\"jobReleaseValue1\"\r\n
        \         },{\r\n            \"name\":\"jobReleaseName2\",\"value\":\"jobReleaseValue2\"\r\n
        \         }\r\n        ],\"maxWallClockTime\":\"PT15M\",\"retentionTime\":\"P7D\",\"userIdentity\":{\r\n
        \         \"autoUser\":{\r\n            \"scope\":\"pool\",\"elevationLevel\":\"nonadmin\"\r\n
        \         }\r\n        }\r\n      },\"commonEnvironmentSettings\":[\r\n        {\r\n
        \         \"name\":\"commonName1\",\"value\":\"commonValue1\"\r\n        },{\r\n
        \         \"name\":\"commonName2\",\"value\":\"commonValue2\"\r\n        }\r\n
        \     ],\"poolInfo\":{\r\n        \"autoPoolSpecification\":{\r\n          \"autoPoolIdPrefix\":\"TestSpecPrefix\",\"poolLifetimeOption\":\"jobschedule\",\"keepAlive\":false,\"pool\":{\r\n
        \           \"vmSize\":\"small\",\"maxTasksPerNode\":1,\"taskSchedulingPolicy\":{\r\n
        \             \"nodeFillType\":\"Spread\"\r\n            },\"resizeTimeout\":\"PT15M\",\"targetDedicatedNodes\":0,\"targetLowPriorityNodes\":0,\"enableAutoScale\":false,\"enableInterNodeCommunication\":false,\"startTask\":{\r\n
        \             \"commandLine\":\"cmd /c dir /s\",\"userIdentity\":{\r\n                \"autoUser\":{\r\n
        \                 \"scope\":\"pool\",\"elevationLevel\":\"nonadmin\"\r\n                }\r\n
        \             },\"maxTaskRetryCount\":0,\"waitForSuccess\":true\r\n            },\"certificateReferences\":[\r\n
        \             {\r\n                \"thumbprint\":\"0123456789abcdef\",\"thumbprintAlgorithm\":\"sha1\",\"storeLocation\":\"LocalMachine\",\"storeName\":\"certStore\",\"visibility\":[\r\n
        \                 \"starttask\"\r\n                ]\r\n              }\r\n
        \           ],\"cloudServiceConfiguration\":{\r\n              \"osFamily\":\"4\",\"osVersion\":\"*\"\r\n
        \           }\r\n          }\r\n        }\r\n      },\"metadata\":[\r\n        {\r\n
        \         \"name\":\"specMeta1\",\"value\":\"specMetaValue1\"\r\n        },{\r\n
        \         \"name\":\"specMeta2\",\"value\":\"specMetaValue2\"\r\n        }\r\n
        \     ],\"executionInfo\":{\r\n        \"startTime\":\"2020-11-24T19:48:58.6671445Z\",\"endTime\":\"2020-11-24T19:48:58.7639909Z\",\"poolId\":\"TestSpecPrefix_B20D59F1-956E-4CB4-B79F-44B8320E874C\",\"schedulingError\":{\r\n
        \         \"category\":\"UserError\",\"code\":\"InvalidCertificatesInAutoPool\",\"message\":\"One
        or more certificates specified for the pool are invalid\",\"details\":[\r\n
        \           {\r\n              \"name\":\"sha1-0123456789abcdef\",\"value\":\"The
        specified certificate does not exist.\"\r\n            }\r\n          ]\r\n
        \       }\r\n      },\"onAllTasksComplete\":\"noaction\",\"onTaskFailure\":\"noaction\"\r\n
        \   }\r\n  ]\r\n}"
    headers:
      content-type:
      - application/json;odata=minimalmetadata
      dataserviceversion:
      - '3.0'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      ocp-date:
      - Tue, 24 Nov 2020 19:48:59 GMT
      return-client-request-id:
      - 'false'
    method: GET
    uri: https://clibatch000002.westus.batch.azure.com/jobs?api-version=2020-03-01.11.0&maxresults=1000&timeout=30
  response:
    body:
      string: "{\r\n  \"odata.metadata\":\"https://clibatch000002.westus.batch.azure.com/$metadata#jobs\",\"value\":[\r\n
        \   {\r\n      \"id\":\"xplatJob\",\"displayName\":\"displayName\",\"url\":\[...]
- request:
    body: null
    headers:
      ocp-date:
      - Tue, 24 Nov 2020 19:48:59 GMT
      return-client-request-id:
      - 'false'
    method: DELETE
    uri: https://clibatch000002.westus.batch.azure.com/jobs/xplatJob?api-version=2020-03-01.11.0&timeout=30
  response:
    body:
      string: ''
    headers:
      dataserviceversion:
      - '3.0'
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      ocp-date:
      - Tue, 24 Nov 2020 19:49:02 GMT
      return-client-request-id:
      - 'false'
    method: DELETE
    uri: https://clibatch000002.westus.batch.azure.com/jobschedules/xplatJobScheduleJobTests?api-version=2020-03-01.11.0&timeout=30
  response:
    body:
      string: ''
    headers:
      dataserviceversion:
      - '3.0'
    status:
      code: 202
      message: Accepted
version: 1
