interactions:
- request:
    body: '{"location": "canadaeast"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Batch/batchAccounts/clibatch000002?api-version=2020-05-01
  response:
    body:
      string: ''
    headers:
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Batch/batchAccounts/clibatch000002/operationResults/247bd176-7962-40e0-b0ff-20fec81d9e11?api-version=2020-05-01
      x-ms-ratelimit-remaining-subscription-writes:
      - '1197'
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Batch/batchAccounts/clibatch000002/operationResults/247bd176-7962-40e0-b0ff-20fec81d9e11?api-version=2020-05-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Batch/batchAccounts/clibatch000002","name":"clibatch000002","type":"Microsoft.Batch/batchAccounts","location":"canadaeast","properties":{"accountEndpoint":"clibatch000002.canadaeast.batch.azure.com","provisioningState":"Succeeded","dedicatedCoreQuota":700,"dedicatedCoreQuotaPerVMFamily":[{"name":"standardAv2Family","coreQuota":100},{"name":"standardDv2Family","coreQuota":100},{"name":"standardDv3Family","coreQuota":100},{"name":"standardEv3Family","coreQuota":50},{"name":"standardDSv2Family","coreQuota":100},{"name":"standardDSv3Family","coreQuota":100},{"name":"standardESv3Family","coreQuota":50},{"name":"standardFFamily","coreQuota":50},{"name":"standardFSFamily","coreQuota":50},{"name":"standardA0_A7Family","coreQuota":0},{"name":"standardA8_A11Family","coreQuota":0},{"name":"standardDFamily","coreQuota":0},{"name"[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Batch/batchAccounts/clibatch000002/listKeys?api-version=2020-05-01
  response:
    body:
      string: '{"accountName":"clibatch000002","primary":"450iANs2jVOiDCQGD0tgXn5jfUnSZX3/aryc1p2ZwL984lC30Fh9pGIHJVHn7Lw5lT9quSkwiUThQC6H+9kMBA==","secondary":"dDgVvcq04rUHCyxG6d7hwez3Uqji2gyBIz13jeX/J4R2qgvBM/h6va0yTI6q1HEA9AT8s1YV252TMAqSm/x3YA=="}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"id": "xplatJobForTaskTests", "vmSize": "small", "cloudServiceConfiguration":
      {"osFamily": "4"}}'
    headers:
      Content-Type:
      - application/json; odata=minimalmetadata; charset=utf-8
      ocp-date:
      - Tue, 24 Nov 2020 18:44:20 GMT
      return-client-request-id:
      - 'false'
    method: POST
    uri: https://clibatch000002.canadaeast.batch.azure.com/pools?api-version=2020-03-01.11.0&timeout=30
  response:
    body:
      string: ''
    headers:
      dataserviceid:
      - https://clibatch24kbilw7flwudqkj.canadaeast.batch.azure.com/pools/xplatJobForTaskTests
      dataserviceversion:
      - '3.0'
      etag:
      - '0x8D890A8F483CDB7'
      last-modified:
      - Tue, 24 Nov 2020 18:44:20 GMT
      location:
      - https://clibatch000002.canadaeast.batch.azure.com/pools/xplatJobForTaskTests
    status:
      code: 201
      message: Created
- request:
    body: '{"id": "cli-test-job-1", "constraints": {"maxTaskRetryCount": 5}, "jobManagerTask":
      {"id": "JobManager", "commandLine": "cmd /c set AZ_BATCH_TASK_ID", "environmentSettings":
      [{"name": "CLI_TEST_VAR", "value": "CLI_TEST_VAR_VALUE"}]}, "poolInfo": {"poolId":
      "xplatJobForTaskTests"}, "metadata": [{"name": "test", "value": "value"}]}'
    headers:
      Content-Type:
      - application/json; odata=minimalmetadata; charset=utf-8
      ocp-date:
      - Tue, 24 Nov 2020 18:44:20 GMT
      return-client-request-id:
      - 'false'
    method: POST
    uri: https://clibatch000002.canadaeast.batch.azure.com/jobs?api-version=2020-03-01.11.0&timeout=30
  response:
    body:
      string: ''
    headers:
      dataserviceid:
      - https://clibatch24kbilw7flwudqkj.canadaeast.batch.azure.com/jobs/job-1
      dataserviceversion:
      - '3.0'
      etag:
      - '0x8D890A8F4BAA57F'
      last-modified:
      - Tue, 24 Nov 2020 18:44:20 GMT
      location:
      - https://clibatch000002.canadaeast.batch.azure.com/jobs/job-1
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      ocp-date:
      - Tue, 24 Nov 2020 18:44:20 GMT
      return-client-request-id:
      - 'false'
    method: GET
    uri: https://clibatch000002.canadaeast.batch.azure.com/jobs/cli-test-job-1?api-version=2020-03-01.11.0&timeout=30
  response:
    body:
      string: "{\r\n  \"odata.metadata\":\"https://clibatch000002.canadaeast.batch.azure.com/$metadata#jobs/@Element\",\"id\":\"cli-test-job-1\",\"url\":\"https://clibatch000002.canadaeast.batch.azure.com/jobs/cli-test-job-1\",\"eTag\":\"0x8D890A8F4BAA57F\",\"lastModified\":\"2020-11-24T18:44:20.7703423Z\",\"creationTime\":\"2020-11-24T18:44:20.7353431Z\",\"state\":\"active\",\"stateTransitionTime\":\"2020-11-24T18:44:20.7703423Z\",\"priority\":0,\"usesTaskDependencies\":false,\"constraints\":{\r\n
        \   \"maxWallClockTime\":\"P10675199DT2H48M5.4775807S\",\"maxTaskRetryCount\":5\r\n
        \ },\"jobManagerTask\":{\r\n    \"id\":\"JobManager\",\"commandLine\":\"cmd
        /c set AZ_BATCH_TASK_ID\",\"environmentSettings\":[\r\n      {\r\n        \"name\":\"CLI_TEST_VAR\",\"value\":\"CLI_TEST_VAR_VALUE\"\r\n
        \     }\r\n    ],\"constraints\":{\r\n      \"maxWallClockTime\":\"P10675199DT2H48M5.4775807S\",\"retentionTime\":\"P7D\",\"maxTaskRetryCount\":5\r\n
        \   },\"userIdentity\":{\r\n      \"autoUser\":{\r\n        \"scope\":\"pool\",\"elevationLevel\":\"nonadmin\"\r\n
        \     }\r\n    },\"runExclusive\":true,\"allowLowPriorityNode\":true,\"killJobOnCompletion\":true\r\n
        \ },\"poolInfo\":{\r\n    \"poolId\":\"xplatJobForTaskTests\"\r\n  },\"metadata\":[\r\n
        \   {\r\n      \"name\":\"test\",\"value\":\"value\"\r\n    }\r\n  ],\"executionInfo\":{\r\n
        \   \"startTime\":\"2020-11-24T18:44:20.7703423Z\",\"poolId\":\"xplatJobForTaskTests\"\r\n
        \ },\"onAllTasksComplete\":\"noaction\",\"onTaskFailure\":\"noaction\"\r\n}"
    headers:
      content-type:
      - application/json;odata=minimalmetadata
      dataserviceversion:
      - '3.0'
      etag:
      - '0x8D890A8F4BAA57F'
      last-modified:
      - Tue, 24 Nov 2020 18:44:20 GMT
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"poolInfo": {"poolId": "xplatJobForTaskTests"}, "onAllTasksComplete":
      "terminatejob"}'
    headers:
      Content-Type:
      - application/json; odata=minimalmetadata; charset=utf-8
      If-Unmodified-Since:
      - Tue, 24 Nov 2020 13:44:20 GMT
      ocp-date:
      - Tue, 24 Nov 2020 18:44:21 GMT
      return-client-request-id:
      - 'false'
    method: PUT
    uri: https://clibatch000002.canadaeast.batch.azure.com/jobs/cli-test-job-1?api-version=2020-03-01.11.0&timeout=30
  response:
    body:
      string: "{\r\n  \"odata.metadata\":\"https://clibatch000002.canadaeast.batch.azure.com/$metadata#Microsoft.Azure.Batch.Protocol.Entities.Container.errors/@Element\",\"code\":\"ConditionNotMet\",\"message\":{\r\n
        \   \"lang\":\"en-US\",\"value\":\"The condition specified using HTTP conditional
        header(s) is not met.\\nRequestId:6709bce0-ab55-4f84-8b2b-029539e911c3\\nTime:2020-11-24T18:44:21.7658296Z\"\r\n
        \ }\r\n}"
    headers:
      content-type:
      - application/json;odata=minimalmetadata
      dataserviceversion:
      - '3.0'
    status:
      code: 412
      message: The condition specified using HTTP conditional header(s) is not met.
[...]
