interactions:
- request:
    body: '{"location": "canadacentral"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Batch/batchAccounts/clibatch000002?api-version=2020-05-01
  response:
    body:
      string: ''
    headers:
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Batch/batchAccounts/clibatch000002/operationResults/49cdd3f3-c041-4e26-ac13-6415f563587c?api-version=2020-05-01
      x-ms-ratelimit-remaining-subscription-writes:
      - '1198'
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Batch/batchAccounts/clibatch000002/operationResults/49cdd3f3-c041-4e26-ac13-6415f563587c?api-version=2020-05-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Batch/batchAccounts/clibatch000002","name":"clibatch000002","type":"Microsoft.Batch/batchAccounts","location":"canadacentral","properties":{"accountEndpoint":"clibatch000002.canadacentral.batch.azure.com","provisioningState":"Succeeded","dedicatedCoreQuota":700,"dedicatedCoreQuotaPerVMFamily":[{"name":"standardAv2Family","coreQuota":100},{"name":"standardDv2Family","coreQuota":100},{"name":"standardDv3Family","coreQuota":100},{"name":"standardEv3Family","coreQuota":50},{"name":"standardDSv2Family","coreQuota":100},{"name":"standardDSv3Family","coreQuota":100},{"name":"standardESv3Family","coreQuota":50},{"name":"standardFFamily","coreQuota":50},{"name":"standardFSFamily","coreQuota":50},{"name":"standardA0_A7Family","coreQuota":0},{"name":"standardA8_A11Family","coreQuota":0},{"name":"standardDFamily","coreQuota":0},{"name"[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Batch/batchAccounts/clibatch000002/listKeys?api-version=2020-05-01
  response:
    body:
      string: '{"accountName":"clibatch000002","primary":"V7hXf3gEsJHHQ5NrIZHWpkKDg8MIwLjjN0KUzRAWEyo5PZaeytACNkeAPm8Fjb44a4dTAFhIWrmdWMJqcWx73g==","secondary":"z8fzJwyzb6KeGknGzreWTPrJcbO2R+uk+XEGQe4FjZy2R3c2GBBrsHY69Eey8T/4Sv7rvYAKh71l6vMikSOSoA=="}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"id": "xplatJobForTaskTests", "displayName": "displayName", "priority":
      1, "constraints": {"maxWallClockTime": "P1D", "maxTaskRetryCount": 5}, "commonEnvironmentSettings":
      [{"name": "commonName1", "value": "commonValue1"}, {"name": "commonName2", "value":
      "commonValue2"}], "poolInfo": {"poolId": "xplatTestPool"}, "metadata": [{"name":
      "specMeta1", "value": "specMetaValue1"}, {"name": "specMeta2", "value": "specMetaValue2"}]}'
    headers:
      Content-Type:
      - application/json; odata=minimalmetadata; charset=utf-8
      ocp-date:
      - Tue, 24 Nov 2020 18:44:45 GMT
      return-client-request-id:
      - 'false'
    method: POST
    uri: https://clibatch000002.canadacentral.batch.azure.com/jobs?api-version=2020-03-01.11.0&timeout=30
  response:
    body:
      string: ''
    headers:
      dataserviceid:
      - https://clibatchhh2c7xkzw3lqechq.canadacentral.batch.azure.com/jobs/job-1
      dataserviceversion:
      - '3.0'
      etag:
      - '0x8D890A903CB85D2'
      last-modified:
      - Tue, 24 Nov 2020 18:44:46 GMT
      location:
      - https://clibatch000002.canadacentral.batch.azure.com/jobs/job-1
    status:
      code: 201
      message: Created
- request:
    body: '{"id": "xplatTask", "displayName": "displayName", "commandLine": "cmd /c
      dir /s", "environmentSettings": [{"name": "env1", "value": "value1"}, {"name":
      "env2", "value": "value2"}], "constraints": {"maxWallClockTime": "P1D", "maxTaskRetryCount":
      2}, "userIdentity": {"autoUser": {"scope": "pool", "elevationLevel": "nonadmin"}},
      "multiInstanceSettings": {"numberOfInstances": 3, "coordinationCommandLine":
      "cmd /c echo hello"}, "authenticationTokenSettings": {"access": ["job"]}}'
    headers:
      Content-Type:
      - application/json; odata=minimalmetadata; charset=utf-8
      ocp-date:
      - Tue, 24 Nov 2020 18:44:46 GMT
    method: POST
    uri: https://clibatch000002.canadacentral.batch.azure.com/jobs/xplatJobForTaskTests/tasks?api-version=2020-03-01.11.0
  response:
    body:
      string: ''
    headers:
      dataserviceid:
      - https://clibatchhh2c7xkzw3lqechq.canadacentral.batch.azure.com/jobs/xplatJobForTaskTests/tasks/xplatTask
      dataserviceversion:
      - '3.0'
      etag:
      - '0x8D890A903EB33F2'
      last-modified:
      - Tue, 24 Nov 2020 18:44:46 GMT
      location:
      - https://clibatch000002.canadacentral.batch.azure.com/jobs/xplatJobForTaskTests/tasks/xplatTask
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      ocp-date:
      - Tue, 24 Nov 2020 18:44:46 GMT
    method: GET
    uri: https://clibatch000002.canadacentral.batch.azure.com/jobs/xplatJobForTaskTests/tasks/xplatTask?api-version=2020-03-01.11.0
  response:
    body:
      string: "{\r\n  \"odata.metadata\":\"https://clibatch000002.canadacentral.batch.azure.com/$metadata#tasks/@Element\",\"id\":\"xplatTask\",\"displayName\":\"displayName\",\"url\":\"https://clibatch000002.canadacentral.batch.azure.com/jobs/xplatJobForTaskTests/tasks/xplatTask\",\"eTag\":\"0x8D890A903EB33F2\",\"creationTime\":\"2020-11-24T18:44:46.2543858Z\",\"lastModified\":\"2020-11-24T18:44:46.2543858Z\",\"state\":\"active\",\"stateTransitionTime\":\"2020-11-24T18:44:46.2543858Z\",\"commandLine\":\"cmd
        /c dir /s\",\"environmentSettings\":[\r\n    {\r\n      \"name\":\"env1\",\"value\":\"value1\"\r\n
        \   },{\r\n      \"name\":\"env2\",\"value\":\"value2\"\r\n    }\r\n  ],\"userIdentity\":{\r\n
        \   \"autoUser\":{\r\n      \"scope\":\"pool\",\"elevationLevel\":\"nonadmin\"\r\n
        \   }\r\n  },\"multiInstanceSettings\":{\r\n    \"numberOfInstances\":3,\"coordinationCommandLine\":\"cmd
        /c echo hello\"\r\n  },\"authenticationTokenSettings\":{\r\n    \"access\":[\r\n
        \     \"job\"\r\n    ]\r\n  },\"constraints\":{\r\n    \"maxWallClockTime\":\"P1D\",\"retentionTime\":\"P7D\",\"maxTaskRetryCount\":2\r\n
        \ },\"executionInfo\":{\r\n    \"retryCount\":0,\"requeueCount\":0\r\n  }\r\n}"
    headers:
      content-type:
      - application/json;odata=minimalmetadata
      dataserviceversion:
      - '3.0'
      etag:
      - '0x8D890A903EB33F2'
      last-modified:
      - Tue, 24 Nov 2020 18:44:46 GMT
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      ocp-date:
      - Tue, 24 Nov 2020 18:44:46 GMT
      return-client-request-id:
      - 'false'
    method: GET
    uri: https://clibatch000002.canadacentral.batch.azure.com/jobs/xplatJobForTaskTests/tasks/xplatTask?api-version=2020-03-01.11.0&timeout=30
  response:
    body:
      string: "{\r\n  \"odata.metadata\":\"https://clibatch000002.canadacentral.batch.azure.com/$metadata#tasks/@Element\",\"id\":\"xplatTask\",\"displayName\":\"displayName\",\"[...]
[...]
- request:
    body: null
    headers:
      ocp-date:
      - Tue, 24 Nov 2020 18:44:47 GMT
    method: GET
    uri: https://clibatch000002.canadacentral.batch.azure.com/jobs/xplatJobForTaskTests/tasks/aaa?api-version=2020-03-01.11.0
  response:
    body:
      string: "{\r\n  \"odata.metadata\":\"https://clibatch000002.canadacentral.batch.azure.com/$metadata#tasks/@Element\",\"id\":\"aaa\",\"url\":\"https://clibatch000002.canadacentral.batch.azure.com/jobs/xplatJobForTaskTests/tasks/aaa\",\"eTag\":\"0x8D890A90463CBD5\",\"creationTime\":\"2020-11-24T18:44:47.0447061Z\",\"lastModified\":\"2020-11-24T18:44:47.0447061Z\",\"state\":\"active\",\"stateTransitionTime\":\"2020-11-24T18:44:47.0447061Z\",\"commandLine\":\"ping
        127.0.0.1 -n 30\",\"userIdentity\":{\r\n    \"autoUser\":{\r\n      \"scope\":\"pool\",\"elevationLevel\":\"nonadmin\"\r\n
        \   }\r\n  },\"constraints\":{\r\n    \"maxWallClockTime\":\"P10675199DT2H48M5.4775807S\",\"retentionTime\":\"P7D\",\"maxTaskRetryCount\":5\r\n
        \ },\"executionInfo\":{\r\n    \"retryCount\":0,\"requeueCount\":0\r\n  }\r\n}"
    headers:
      content-type:
      - application/json;odata=minimalmetadata
      dataserviceversion:
      - '3.0'
      etag:
      - '0x8D890A90463CBD5'
      last-modified:
      - Tue, 24 Nov 2020 18:44:47 GMT
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      ocp-date:
      - Tue, 24 Nov 2020 18:44:57 GMT
      return-client-request-id:
      - 'false'
    method: GET
    uri: https://clibatch000002.canadacentral.batch.azure.com/jobs/xplatJobForTaskTests/taskcounts?api-version=2020-03-01.11.0&timeout=30
  response:
    body:
      string: "{\r\n  \"odata.metadata\":\"https://clibatch000002.canadacentral.batch.azure.com/$metadata#taskcounts/@Element\",\"active\":1,\"running\":0,\"completed\":0,\"succeeded\":0,\"failed\":0\r\n}"
    headers:
      content-type:
      - application/json;odata=minimalmetadata
      dataserviceversion:
      - '3.0'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      ocp-date:
      - Tue, 24 Nov 2020 18:44:57 GMT
      return-client-request-id:
      - 'false'
    method: DELETE
    uri: https://clibatch000002.canadacentral.batch.azure.com/jobs/xplatJobForTaskTests/tasks/aaa?api-version=2020-03-01.11.0&timeout=30
  response:
    body:
      string: ''
    headers:
      dataserviceversion:
      - '3.0'
    status:
      code: 200
      message: OK
- request:
    body: '{"value": [{"id": "xplatTask3", "displayName": "displayName2", "commandLine":
      "cmd /c dir /s", "environmentSettings": [{"name": "env1", "value": "value1"},
      {"name": "env2", "value": "value2"}]}, {"id": "xplatTask2", "displayName": "displayName1",
      "commandLine": "cmd /c dir /s", "constraints": {"maxWallClockTime": "P1D", "maxTaskRetryCount":
      2}}, {"id": "xplatTask1", "displayName": "displayName", "commandLine": "cmd
      /c dir /s", "environmentSettings": [{"name": "env1", "value": "value1"}, {"name":
      "env2", "value": "value2"}], "constraints": {"maxWallClockTime": "P1D", "maxTaskRetryCount":
      2}}]}'
    headers:
      Content-Type:
      - application/json; odata=minimalmetadata; charset=utf-8
      ocp-date:
      - Tue, 24 Nov 2020 18:44:57 GMT
    method: POST
    uri: https://clibatch000002.canadacentral.batch.azure.com/jobs/xplatJobForTaskTests/addtaskcollection?api-version=2020-03-01.11.0
  response:
    body:
      string: "{\r\n  \"odata.metadata\":\"https://clibatch000002.canadacentral.batch.azure.com/$metadata#taskaddresult\",\"value\":[\r\n
        \   {\r\n      \"status\":\"Success\",\"taskId\":\"xplatTask2\",\"eTag\":\"0x8D890A90ADD13F0\",\"lastModified\":\"2020-11-24T18:44:57.9058672Z\",\"location\":\"https://clibatch000002.canadacentral.batch.azure.com/jobs/xplatJobForTaskTests/tasks/xplatTask2\"\r\n
        \   },{\r\n      \"status\":\"Success\",\"taskId\":\"xplatTask3\",\"eTag\":\"0x8D890A90ADD3B18\",\"lastModified\":\"2020-11-24T18:44:57.9068696Z\",\"location\":\"https://clibatch000002.canadacentral.batch.azure.com/jobs/xplatJobForTaskTests/tasks/xplatTask3\"\r\n
        \   },{\r\n      \"status\":\"Success\",\"taskId\":\"xplatTask1\",\"eTag\":\"0x8D890A90AE37CB9\",\"lastModified\":\"2020-11-24T18:44:57.9478713Z\",\"location\":\"https://clibatch000002.canadacentral.batch.azure.com/jobs/xplatJobForTaskTests/tasks/xplatTask1\"\r\n
        \   }\r\n  ]\r\n}"
    headers:
      content-type:
      - application/json;odata=minimalmetadata
      dataserviceversion:
      - '3.0'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      ocp-date:
      - Tue, 24 Nov 2020 18:44:59 GMT
      return-client-request-id:
      - 'false'
    method: DELETE
    uri: https://clibatch000002.canadacentral.batch.azure.com/jobs/xplatJobForTaskTests?api-version=2020-03-01.11.0&timeout=30
  response:
    body:
      string: ''
    headers:
      dataserviceversion:
      - '3.0'
    status:
      code: 202
      message: Accepted
version: 1
